# Pandas analysis of reaction times

This is the solution to the bonus exercise from [first_analysis](first_analysis.ipynb).

In [1]:
# Try the line below.
import pandas as pd

If you get an `ImportError` above, make a new cell above this one
and run the following command (including the ! at the start):

```
!pip install pandas
```

Now you can read the data.

Pandas reads data into a structure called a DataFrame:

In [2]:
df = pd.read_csv('24719.f3_beh_CHYM.csv')
# Show the first 5 rows of the data frame.
df.head()

  response  response_time  trial_ISI     trial_shape
0     None              0       2000        red_star
1     None              0       1000      red_circle
2     None              0       2500  green_triangle
3     None              0       1500   yellow_square
4     None              0       1500     blue_circle

Once loaded, pandas dataframes are fairly easy to filter

In [3]:
# Select the appropriate rows of the data table
good_rows = (df['response'] == 'space') & (df['trial_shape'] == 'red_square')
good_data = df[good_rows]
# Show the first five rows of the filtered data frame.
good_data.head()

   response  response_time  trial_ISI trial_shape
10    space            427       1000  red_square
13    space            369       2000  red_square
15    space            337       1500  red_square
17    space            308       2000  red_square
23    space            375       1000  red_square

Now we can select the `response_time` column and calculate the average:

In [4]:
good_data['response_time'].mean()

382.2604166666667